div.box{
    /* độ rộng */
    width: 300px;
    /* chiều cao */
    height: 300px;
    background-color: rgb(231, 9, 9);
}
p{
    width: 200px;
    height: 200px;

}
td.description {
    /* khi co trang lại thì độ rộng tối thiểu để trang h thị b/thường */
    /* tương tự với chiều cao */
    /* min-width: 250px; */
    /* khi mở rộng trang thì độ rộng tối đa để hiện thị b/thường */
    /* tương tự với chiều cao */
    max-height: 50px;
    max-width: 50px;
    text-align: left;
}
td{
    vertical-align: text-top;
}
.p1{
    overflow: hidden;
}
.p2{
    overflow:scroll;
}
.vit{
    /* viền hộp  */
    border: 2px solid blue;

    /* lề của hộp so với trang web  */
    margin: 10px;

    /* lề từ chữ đến viền của hộp  */
    padding: 20px 20px 20px 20px;

    /* kích thước viền của hộp  */
    border-width: 20px;

    /* kích thước viền của hộp ở phía trên */
    border-top-width: 20px;

    /* kích thước viền của hộp ở phía bên phải */
    border-right-width: 20px;

    /* kích thước viền của hộp ở phía dưới */
    border-bottom-width: 20px;

    /* kích thước viền của hộp ở phía bên trái */
    border-left-width: 20px;

    /* kiểu của viền hộp  */
    border-style:double;
     
    /* kiểu viền của hộp ở phía trên */
    border-top-style: dashed;

    /* tương tự với trái phải dưới */

    border-color: blueviolet;
    
    border-top-color: chartreuse;

    border-bottom-color: cyan;

    text-align: center;

}

li {
    display: inline;
    background-color: cyan;
}
.thetrang{
    /* hiển thị  */
    visibility: visible;
}
.thanlan{
    border: 50px solid transparent;
    margin: 50px;
    box-shadow: /*chỉnh bóng sang trái hoặc phải*/ 5px 
     /*chỉnh bóng lên trên hoặc xuống dưới*/ 5px
     /*làm mờ bóng*/ 5px
     /*chỉnh kích cỡ của bóng*/ 8px
     /*màu bóng*/ rgb(241, 41, 198); 
    
    /*bo viền*/
    border-radius: 7%;

    border-image: url('../img/Lovepik_com-611623341-Round\ pattern\ border\ illustration.png')1250 round;
}

